button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    padding: 5px 15px;
}
i.fa.fa-caret-down.sort{
    font-size: 24px;
    color: black;
    margin-left: 5px;
}